<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="I am 25 years old, born in Barcelona, Spain. I am a last year telecommunications engineering student and I am working as a web developer." />

    <meta name="keywords" content="jordi, jordi villar, software developer, web developer, web, telecommunications, engineer, ruby, php, mysql, freelance, ruby on rails, barcelona, desarrollador web" />

    <link rel="canonical" href="http://jordivillar.com/" />
    <title>{{ page.title }} · Jordi Villar</title>
    <link href="http://fonts.googleapis.com/css?family=Raleway:400,500,800" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <link rel="stylesheet" type="text/css" href="/css/syntax.css" />

    <script type="text/javascript"
      src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>
    <script type="text/javascript">
      MathJax.Hub.Config({
        tex2jax: {
          skipTags: ['script', 'noscript', 'style', 'textarea', 'pre']
        }
      });

      MathJax.Hub.Queue(function() {
        var all = MathJax.Hub.getAllJax(), i;
        for(i=0; i < all.length; i += 1) {
          all[i].SourceElement().parentNode.className += ' has-jax';
        }
      });
    </script>
  </head>

  <body>
    <div id="container">
      <div id="header">
        <h1 id="site-title"><a href="/">Jordi Villar</a></h1>
        <h2 id="site-description">I am a last year telecommunications engineering student and I am working as a web developer.</h2>
      </div>

      <div id="content">
        {{ content }}
      </div>
    </div>
    
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-21844582-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </body>
</html>